* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "Segoe UI", sans-serif;
  background: #0b1120;
  color: #e5e7eb;
  line-height: 1.6;
}

.header {
  background: #020617;
  position: sticky;
  top: 0;
  z-index: 100;
}

.navbar {
  max-width: 1100px;
  margin: auto;
  padding: 15px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  font-size: 20px;
  font-weight: bold;
}

.nav-links {
  list-style: none;
  display: flex;
  gap: 20px;
}

.nav-links a {
  text-decoration: none;
  color: #e5e7eb;
}

.hero {
  text-align: center;
  padding: 100px 20px;
}

.hero-buttons a {
  display: inline-block;
  margin: 10px;
  padding: 12px 22px;
  background: #2563eb;
  color: white;
  border-radius: 6px;
  text-decoration: none;
}

section {
  max-width: 1100px;
  margin: auto;
  padding: 70px 20px;
}

h2 {
  margin-bottom: 30px;
}

.grid,
.skills-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
  gap: 20px;
}

.card,
.project-card {
  background: #020617;
  padding: 25px;
  border-radius: 12px;
}

.project-card a {
  display: inline-block;
  margin-top: 10px;
  color: #60a5fa;
  text-decoration: none;
}
.profile-pic {
  width: 160px;
  height: 160px;
  border-radius: 50%;
  object-fit: cover;
  margin: 20px auto;
  display: block;
  border: 3px solid #00adb5;
}
